.header {
    background-color: #006400;
    color: white;
}

#home {
    background: #006400;
    color: white;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a {
    margin: 5px 15px;
}

#navbar {
    background: #006400;
}

   .responsive-map {
     overflow: hidden;
     padding-bottom: 56.25%; /* Proporção 16:9 */
     position: relative;
     height: 0;
   }
   .responsive-map iframe {
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     position: absolute;
   }


.hero-section {
    background-image: url("../img/19-IMG_8141.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Ocupa a altura total da janela do navegador */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Para escurecer a imagem e melhorar a leitura do texto */
  .hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Cor preta com 50% de opacidade */
  }

  .titulo-descido {
    margin-top: 340px;
  }

